<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="example.dao.TeacherDao">
    <!--Teacher Login-->
    <resultMap id="TeacherBaseMap" type="example.model.Teacher">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="tname" property="tname" jdbcType="VARCHAR"/>
    <result column="tusername" property="tusername" jdbcType="VARCHAR"/>
    <result column="tpassword" property="tpassword" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectTeacherByUsername" parameterType="java.lang.String" resultMap="TeacherBaseMap">
        SELECT * FROM teacher
        WHERE tusername = #{teacherUsername}
    </select>

</mapper>
